*.iml
*.class
.classpath
.project
.settings
target
bin
src/test/resources/onedrive.properties

src/test/resources/onedrive.properties

*.properties

src/test/resources/onedrive.properties

src/test/resources/test.tar.gz
